@font-face {
  font-family: title;
  src: url("font/titlespace.otf");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.button{
  position: relative;
  width: 20%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.sair_button{
  position: relative;
  width: 10%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 20px;
}

.container{
  width: 100vw;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.note_button{
  margin: 3px;
  position: relative;
  display: inline;
  width: 4vw;
  height: 4vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 100%;
  border: 1px solid #243F8D;
  border-radius: 50%;
  background-color: rgba(36, 63, 141, 0.5);
}

.note_button:active{
  transform: scale(1.1);
}

.title{
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
  width: 0%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 10px;
  font-size:190px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: title;
}

.instrument{
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}