@font-face {
  font-family: title;
  src: url("font/titlespace.otf");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.button{
  position: relative;
  width: 20%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.sair_button{
  position: relative;
  width: 10%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.button:active {
  background-color: #fff;
}

.title{
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
  width: 0%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 10px;
  font-size:190px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: title;
}

.selectInstrument{
  position: relative;
  text-shadow: 10px 10px black;
  width: 0%;
  height: 10%;
  line-height: 40px;
  letter-spacing: 5px;
  font-size:30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: title;
}