@font-face {
  font-family: title;
  src: url("font/titlespace.otf");
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.botton{
  position: relative;
  width: 20%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
}

.botton:active {
  background-color: #fff;
}

.title{
  position: relative;
  text-shadow: 10px 10px black;
  width: 0%;
  height: 10%;
  line-height: 60px;
  letter-spacing: 10px;
  font-size:190px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: black;
  font-family: title;

}